# global
.vscode/
tmp/
config.php
config.py
input.txt
list*.csv
list*.txt
out*.csv
out*.txt
user-config.py
user-password.py

# single
AFD-stats/list/
bad-image-list/remove.txt
DRV-tag-talk/lastrevid.txt
DRV-tag-talk/lasttime.txt
move-faga/page.txt
move-g15-file/skipedpage.txt
remove-broken-file/skipedpage.txt
RFA-stats/list/
user-config/
*.csv
*.pyc
