# global
tmp/
config.php
config.py
input.txt
out*.txt
out*.csv
user-config.py
user-password.py

# single
AFD-stats/list/
bad-image-list/remove.txt
DRV-tag-talk/lasttime.txt
RFA-stats/list/
DRV-tag-talk/lastrevid.txt
