# global
.vscode/
apicache-py3/
log/
tmp/
*.my.cnf
config.php
config.py
input.txt
list*.csv
list*.txt
out*.csv
out*.txt
pywikibot.lwp
temp*.txt
throttle.ctrl
user-config.py
user-password.py

# single
adminstats-2/cache/
AFD-stats/list/
bad-image-list/remove.txt
DRV-tag-talk/lastrevid.txt
DRV-tag-talk/lasttime.txt
DRV-tag-talk/revcache/
MostTranscludedPages/config.*.php
move-faga/page.txt
move-g15-file/skipedpage.txt
pyvenv/
remove-broken-file/skipedpage.txt
rfa-stats/data/
rfa-stats-php/list/
user-config/
user-right-process/user_data.json
*.csv
*.pyc
bootstrap-venv.err
bootstrap-venv.out
